.landing{
    max-width: 30vw;
    border-style: outset;
    border-width: 12px;
    border-color: rgb(151, 224, 103);
    background-color: rgb(224, 255, 204);
    margin-top: 150px;
    padding: 5%;
}