$nav-height: 100px;

.nav-bar {
    height: $nav-height/1.4;
    background-color: #FFE6EE;
    display: flex;
    justify-content: left;
    align-items: left;
    flex-direction: row;

    //make links look like normal text
    a {
        color: #000;
        text-decoration: none;
        font-size: 20px;
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        &:hover {
            color: #E1306C;
        }
    }
    .logo {
        position: absolute;
        height: $nav-height*2;
    }
    .macaron {
        left: 35%;
        width: 65px;
        padding: 20px;
    }
    .contact {
        position: absolute;
        left: 60%;
        width: 65px;
        padding: 20px;
    }
    .gamepad{
        position: absolute;
        left: 47%;
        width: 90px;
        padding: 20px;
    }
    .instagram {
        font-size: 33px;
        position: absolute;
        top: 0%;
        right: 0%;
        padding: 15px;
        color: #E1306C;
        background-color: #FFE6EE;
    }
}


@media only screen and (max-width: 600px){
    .nav-bar{
        height: 75px;
        .logo{
            position: absolute;
            height: $nav-height*1.5;
        }
    }
    .macaron {
        left: 50%;
        width: 30px;
        padding: 20px;
    }
    .contact {
        position: absolute;
        left: 60%;
        width: px;
        padding: 20px;
    }
    .gamepad{
        position: absolute;
        left: 47%;
        width: 40px;
        padding: 20px;
    }
}