$nav-height: 150px;

.nav-bar {
    background: #cfe1c9;
    width: 100%;
    height: $nav-height;
    position: absolute;
    top: 0;
    z-index: 3;
    min-width: 500px;

    .logo {
        position: absolute;
        height: $nav-height;
    }
    .macaron {
        left: 20%;
        width: 65px;
        padding: 20px;
    }
    .contact {
        position: absolute;
        left: 60%;
        width: 65px;
        padding: 25px;
    }
    .gamepad{
        position: absolute;
        left: 35%;
        width: 90px;
        padding: 40px;
    }
    .instagram {
        font-size: 33px;
        position: absolute;
        top: 0%;
        right: 0%;
        padding: 10px;
        color: #E1306C;
        background-color: #FFE6EE;
    }
}